instagrapi==2.1.2
google-generativeai
Pillow
Flask
feedparser

# Requests e scraping
requests
beautifulsoup4
lxml==4.9.3
selenium
webdriver-manager

# Controle de tarefas / agendamento
schedule
APScheduler

# JSON, manipulação de dados
pandas
python-dotenv

# AI / Gemini / OpenAI
openai
httpx

# Logging e utils
loguru==0.7.0
