Flask==3.0.3
requests==2.32.3
beautifulsoup4==4.12.3
lxml==4.9.3
instagrapi==2.1.2
Pillow
pydantic-core
cryptography==42.0.5
pydantic

webdriver-manager
schedule==1.2.0
APScheduler==3.10.0

# JSON, manipulação de dados
python-dotenv==1.0.1
